<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>上传图片Demo</title>
  <script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
  <link rel="stylesheet" type="text/css" href="https://cdn.staticfile.org/webuploader/0.1.1/webuploader.css">
  <script src="https://cdn.staticfile.org/webuploader/0.1.1/Uploader.swf"></script>
  <script src="https://cdn.staticfile.org/webuploader/0.1.1/webuploader.js"></script>




</head>

<body>
  <button id="filePicker">点击选图片</button> <button onclick="goUpload()">确定上传图片</button>
  <input id="input" type="text">
  <img id="img1" src="" alt="暂时没有图片">



  <script type="text/javascript">

    // 初始化Web Uploader
    var uploader = WebUploader.create({
      // 选完文件后，是否自动上传。
      auto: false,
      // swf文件路径
      swf: 'https://cdn.staticfile.org/webuploader/0.1.1/Uploader.swf',
      // 文件接收服务端。
      server: 'http://192.168.1.104:8888/upload',
      // 要传递的参数
      formData: {
        username:""
      },

      // 选择文件的按钮。可选。
      // 内部根据当前运行是创建，可能是input元素，也可能是flash.
      pick: '#filePicker',
      // 只允许选择图片文件。
      accept: {
        title: 'Images',
        extensions: 'gif,jpg,jpeg,bmp,png',
        mimeTypes: 'image/*'
      }
    });

    function goUpload() {
      uploader.upload();
    }

    //uploader.upload()执行前会触发这里 uploadBeforeSend
    uploader.on('uploadBeforeSend', function (block, data) {
      let input = document.getElementById('input');
      data.username = input.value;    // 将用户名传递到后台，一次修改用户的头像字段,将存在file对象中的md5数据携带发送过去。
    });

    // 文件上传成功
    uploader.on('uploadSuccess', function (file, response) {
      //获得服务器的图片 img
      let url = response.url;
      let img = document.getElementById('img1');
      img.src = url;
      console.log(url);
      alert("上传成功！");
    });
  </script>

</body>

</html>